<p id="notice"><%= notice %></p>

<h1>Snippets</h1>

<% if @snippets.empty? %>
  <h2>No Snippets yet</h2>
<% else %>
  <% @snippets.each do |snippet| %>
    <b>
      <%= link_to snippet.name, snippet %>
    </b>
  <% end %>
<% end %>
<br>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'Add a Snippet', new_snippet_path %>
<% end %>
