<h1>Snippets</h1>

<% if @snippets.empty? %>
  <h2>No Snippets yet</h2>
<% else %>
  <% @snippets.each do |snippet| %>
  	<div class="snippet_link">
  		<%= link_to snippet.name, snippet %> 
  		<em>
  			Created on
  			<%= snippet.created_at.localtime.to_s(:long) %> by
  			<%= link_to User.find_by(id: snippet.user_id).user_name, user_path(snippet.user_id) %>
  		</em>
  	</div>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Add a Snippet', new_snippet_path, :class => "btn" %>
<% end %>
