<h1>Snippets</h1>

<% if @snippets.empty? %>
  <h2>No Snippets yet</h2>
<% else %>
	<div class='tag_cloud'>
	 <h3>Tag Cloud</h3>
  	<% tag_cloud Snippet.tag_counts, %w{s m l} do |tag, css_class| %>
    	<%= link_to tag.name, tag_path(tag.name), class: css_class %>
  	<% end %>
</div>
  <% @snippets.each do |snippet| %>
  <div class='snippets_box'>
    <h4 class='a_snippet_box'>
      <%= link_to snippet.name, snippet %> 
    </h4>
    <p class='tag_box'>
    	Tags: <%= raw(snippet.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
    </p>
    </div>
  <% end %>
<% end %>
<br>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'Add a Snippet', new_snippet_path %>
<% end %>
