<h1>Snippets</h1>

<% if @snippets.empty? %>
  <h2>No Snippets yet</h2>
<% else %>
  <% @snippets.each do |snippet| %>
  	<div class="snippet_link">
  		<%= link_to snippet.name, snippet %> 
  		<em>Created at: 20:49 by Elena</em>
  	</div>
  <% end %>
<% end %>
<br>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'Add a Snippet', new_snippet_path %>
<% end %>
