
<%= form_for [@snippet, @review] do |f| %>
  
  <div class="field">
    <%= f.label :review %>
    <%= f.text_field :review %>
  </div>


  <div class="actions">
    <%= f.submit 'Leave Review' %>
  </div>
<% end %>
